# Database Settings
DB_HOST=localhost
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=root
DB_NAME=reserving_db

# Authentication and Security Settings
# ⚠ WARNING: CHANGE THIS VALUE BEFORE RUNNING!
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=12h

# Default admin
SUPER_ADMIN_EMAIL=admin@gmail.com
SUPER_ADMIN_PASSWORD=Admin123!

# Email Service (Resend)
# Get your API key at https://resend.com
RESEND_API_KEY=your_resend_api_key_here